<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
        cacheResultFile="var/phpunit/.result.cache"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <html outputDirectory="var/phpunit/coverage/html" lowUpperBound="95" highLowerBound="100"/>
        </report>
    </coverage>
</phpunit>